@use '../colors.scss' as colors;

// Primary

.fc-p {
  color: colors.$primary;
}
.fc-pl {
  color: colors.$primary-light;
}
.fc-pd {
  color: colors.$primary-dark;
}

// Secondary

.fc-s {
  color: colors.$secondary;
}
.fc-sl {
  color: colors.$secondary-light;
}
.fc-sd {
  color: colors.$secondary-dark;
}

// Black

.fc-b {
  color: colors.$black;
}
.fc-bl1 {
  color: colors.$black-l1;
}

// White

.fc-w {
  color: colors.$white;
}
.fc-wl1 {
  color: colors.$white-l1;
}
.fc-wd1 {
  color: colors.$white-d1;
}

// Gray

.fc-g {
  color: colors.$gray;
}
.fc-gl1 {
  color: colors.$gray-l1;
}
